<!--------------------------- FOOTER -------------------------->
<footer class="container-fluid text-center py-3">
  <div class="d-flex justify-content-center align-items-center footerContainer">
    <div class="footerItems">
      <p class="px-3">&copy 2022 YUMMY RECIPES ENTERPRISES</p>
    </div>
    <div class="footerItems">
      <ul class="list-inline">
        <li class="list-inline-item px-3 m-0">TERMS OF USE</li>
        <li class="list-inline-item px-3 m-0">PRIVACY POLICY</li>
        <li class="list-inline-item px-3 m-0">COOKIES</li>
        <li class="list-inline-item px-3 m-0">CONTACT</li>
      </ul>
    </div>
    <div class="footerItems">
      <ul class="list-inline">
        <li class="list-inline-item px-3 m-0"><i class="fa-brands fa-facebook-square"></i>
        </li>
        <li class="list-inline-item px-3 m-0"><i class="fa-brands fa-instagram"></i></li>
        <li class="list-inline-item px-3 m-0"><i class="fa-brands fa-twitter-square"></i></li>
        <li class="list-inline-item px-3 m-0"><i class="fa-brands fa-pinterest-square"></i></li>
      </ul>
    </div>
  </div>
</footer>
<!-- Bootstrap JS scripts-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- <script src="./script.js"></script> -->
<script src="./script.js"></script>
</body>

</html>
