/* Reset */
*,
*::before,
*::after {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */

--color-primary: #4c956c;
--color-primary-m: hsla(146, 32%, 44%, 0.7); /* m for modified */
--color-primary-dark: #2c6e49;
--color-body: #fefee3;
--color-secondary: #dda15e;
--color-secondary-dark: #bc6c25;
--color-tertiary: #ffc9b9;
}

body {
  background-color: var(--color-body);
}

#mainNavbar {
  background-color: var(--color-primary);
  box-shadow: 0px 3px 5px 1px var(--color-primary-dark);
  color: white;
}

#subBtn {
  color: white;
  font-size: 1.1rem;
  background-color: var(--color-primary-dark);
}

#searchForm {
  border-left: 1px solid var(--color-primary-dark);
}

#searchBtn {
  color: white;
  background-color: var(--color-primary-dark);
  font-size: 1.1rem;
}
/* HEADER STYLING */

header {
  margin-top: 70px;
  padding: 1rem 3rem;
}

#headerInner {
  display: grid;
  grid-template-columns: 3fr minmax(200px, 1fr);
  grid-gap: 3%;
}

/* to set padding for all sections */
.section-inner {
    padding: 0 3rem;
}
/*  The carousel items should be edited so it wouldnt be redundant. In the future,
I will find a better way, maybe by using JS. */

/* ----- Carousel items 1 -----------------*/
/* #bbq {
  background: var(--color-body);
  background: linear-gradient(0deg, var(--color-body) 0%, rgba(255,255,255,0.2) 20%,
  rgba(255,255,255,0) 30%), url('https://images.unsplash.com/photo-1561626423-a51b45aef0a1');
  width: 100%;
  height: 90vh;
  background-size: cover;
} */

/* -----------POPULAR lists ------------- */
.sidebar-recipes {
  border: 1px solid var(--color-primary-m);
  margin-right: 0;
}

.sidebar-recipes h2 {
  margin-top: 0;
  color: var(--color-primary-dark);
}

.sidebar-list a {
  text-decoration: none;
  color: var(--color-primary-dark);
}

.sidebar-list h5 {
  font-size: 1rem;
}

/* api section */
section#api {
  background-color: var(--color-tertiary);

}
#foodsearch{
  border: none;
  border-radius: 10px;
  margin-right: 10px;
  size: 50;
  padding: 5px;
}
.apitile{
  margin-bottom: 10px;
}
#apisearchdiv{
  text-align: center;
}
@media (max-width:768px) {
  #apisearchdiv{
    text-align: left;
  }
}
.renderedIngredients{
  display: flex;
  align-items: center;
}
.recipeLink{
  width: 30%;
  margin-top: 15px;
}

/* cards section */
section#cards {
  color: var(--color-primary-dark);
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 14rem);
  grid-gap: 1.2rem;
  place-content: center;
}

.indCards {
width: 14rem;
height: 22rem;
position: relative;
}

.cardsList-front,
.cardsList-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 2s ease-in-out;
  backface-visibility: hidden;
  /* transform: perspective(100rem); */
  display: grid;
  justify-content: center;
  align-items: start;
  border-radius: 10px;
}

/* ------------- transition code for cards ----------------- */
/* 1 turn = 360deg and 0.5turn = 180deg */
.cardsList-back {
  transform: perspective(100rem) rotateY(0.5turn);
}

.indCards:hover .cardsList-front {
  transform: perspective(100rem) rotateY(0.5turn);
}

.indCards:hover .cardsList-back {
  transform: perspective(100rem) rotateY(1turn);
}
/* --------end of transition ----------- */

.cardsList-front {
  background-color: var(--color-secondary);
  color: white;
  padding: 1rem;
}

.cardsList-back {
  background-color: var(--color-secondary-dark);
  overflow: hidden;
  color: white;
}

.cardImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--color-body);
}

.cardImg img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.cardImg-back {
  height: 15rem;
}

.cardsList-front a {
  text-decoration: none;
  color: var(--color-body);
}

.cardsList-front a:hover {
  color: white;
  text-decoration: underline;
}

.card-msg {
  font-size: 1rem;
}

/*  FOOTER STYLING */
footer {
  background-color: var(--color-primary);
  color: white;
  font-size: 0.7rem;
  font-weight: 600;
}

footer i {
  font-size: 1.4rem;
}

@media screen and (max-width: 1048px) {
  .sidebar-recipes h2 {
    font-size: 1.5rem;
  }
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }

  .indCards {
    justify-self: center;
  }
}

@media screen and (max-width: 960px) {
  .footerContainer {
    flex-direction: column;
  }
  #headerInner {
    grid-template-columns: auto;
  }
  .sidebar-inner {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 3px;
    }
  .section-inner {
    padding: 0;
  }
}

@media screen and (max-width: 576px) {
  .sidebar-inner {
      display: flex;
      flex-direction: column;
  }
  .cards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  .indCards {
    width: 20rem;
  }
}
