/* Reset */
*,
*::before,
*::after {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */
--color-primary: #606c38;
--color-primary-m: hsla(74, 32%, 32%, 0.6); /* m for modified */
--color-primary-dark: #283618;
--color-body: #fefae0;
--color-secondary: #dda15e;
--color-secondary-dark: #bc6c25;

/* link of image */
--image-bbq:
}

body {
  background-color: var(--color-body);
}

#mainNavbar {
  background-color: var(--color-primary);
  box-shadow: 0px 3px 5px 1px grey;
  color: white;
}

#searchBtn {
  background-color: var(--color-primary);
  color: white;
}
/* HEADER STYLING */

header {
  margin-top: 80px;
  padding: 1rem 3rem;
}

#mostPopular {
  border: 1px solid var(--color-primary-m);
}

#mostPopular h2 {
  margin-top: 0;
  color: var(--color-primary-dark);
}

.pop-list {
  margin-top: 0;
  display: flex;
}

#browse {
  display: inline-block;
  pointer: cursor;
  text-decoration: none;
}

#browse h3 {
  color: white;
  padding: 15px 0 0;
}

#browse i {
  font-size: 1rem;
  padding-left: 0.5rem;
}

#browse:hover h3 {
  color: #f3ce13;
}

/*  FOOTER STYLING */
footer {
  background-color: var(--color-primary);
  color: white;
  font-size: 0.7rem;
  font-weight: 600;
}

footer i {
  font-size: 1.4rem;
}

@media (max-width: 960px) {
  .footerContainer {
    flex-direction: column;
  }
